body {
    margin: 0px;
    padding: 0px;
    font-size: "poppins";
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    background: #c49aee;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.CircularProgressbar {
    width: 100%;
    vertical-align: middle;

  }
  
  .CircularProgressbar .CircularProgressbar-path {
    stroke: #A76AE4;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
  }
  
  .CircularProgressbar .CircularProgressbar-trail {
    stroke: #C7A8FC;
    stroke-linecap: round;
  }
  
  .CircularProgressbar .CircularProgressbar-text {
    fill: #5B1CAE;

    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
  }


.game--container {
    background: rgb(179,128,237);
    background: radial-gradient(circle, rgba(179,128,237,1) 0%, rgba(207,175,244,1) 45%, rgba(216,190,246,1) 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 85vh;
    
}

.progress--bar {
    align-self: flex-start;
    margin: 2.5vh 5vw;
    width: 100px;
    height: 100px;

}

.question--container {
    margin: 0px 10vw;
}

.question--text {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #5B1CAE;
}

.answer--container {
    display: grid; 
    grid-template-columns: 30vw 30vw; 
    grid-template-rows: 100% 100%; 
    gap: 10px 5%; 
    grid-template-areas: 
      ". ."
      ". ."; 
    justify-content: center; 
}

.answer--button {
    margin: 20px;
    border: none;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 2px 13px 4px rgba(157, 87, 227, 0.25);
    font-size: 1.2rem;
    color: #5B1CAE;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5vh;
    background: #A76AE4;
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}